body {
    background-color: #F0F0F0;
}

#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
	width: 200px;
    text-align: center;
}

.card{
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 20px;
}