<div class="container">
	<div id="app">
    	<h2>Recycle This</h2>

    	<div>
    		<label>
		       <input type="file" (change)="detectFiles($event)">
		    </label>
    	</div>

	    <div>
	    	<button class="btn btn-primary" [disabled]="!image" (click)="uploadSingle()">Upload Photo</button>
	    </div>

	    <div class="card" *ngIf="analyzed">
		  <img class="card-img-top" [src]="analyzedImageUrl" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-text">Image uploaded is either: </h5>

		    <span class="result_text" *ngFor="let response of objectAnalyzed.responses[0].labelAnnotations; let last = last">
		    	{{response.description}}<span *ngIf="!last">, </span>
		    </span>
		  </div>
		</div>
	</div>
</div>